<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/tufte.css'|url }}">
<title>{% block title %}Welcome{% endblock %}</title>
<body>
  <header>
    <h1>It's a website</h1>
    <nav>
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['/blog', 'Blog'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016 by James Webber.
  </footer>
</body>
