<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/tufte.css'|url }}">
    <title>{% block title %}{% endblock %}{% if this.title %} - {% endif %}NP-Complete Breakfast</title>
    <meta name="google-site-verification" content="9lGZ6-UPsP8zQZOJKMNRxS-rSIE6OtRvjFeOLW7Z_jk" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  <header>
    <h4>NP-Complete Breakfast</h4>
    <nav>
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['/CV', 'CV'],
          ['/blog', 'Blog'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016-2021 by James Webber.
  </footer>
</body>
